<div class="buttons">
  <%= link_to 'New Document', new_document_path, class:"button is-primary" %>
</div>

<div class="columns mt-6 is-centered is-multiline">

    <% @documents.each do |document| %>
      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-content">
            <p class="title">
              <%= link_to document.name, document_path(document) %>
            </p>
            <div class="content">
              <%= truncate(document.description, length: 30) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

</div>
